.form-control-wrapper {
    width: 90%;
    .required-flag {
        color: #F5222D;
    }
}



label {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
}
  
input, select, textarea {
    // background: #fff;
    height: 45px;
    margin: 0;
    padding: 4px;
    border-radius: 15px;
    border: 1px solid #c9bfbf;
    margin-top: 7px;
    padding: 1% 3%;
    font-size: 14px;
    line-height: 150%;
    min-width: 100%;
    max-width: 100%;
}

textarea {
    height: 100px;
}

.error-message {
    color: #F5222D;
    display: inline-block;
    margin: 5px 0 0;
}

/* Error Styling */

.error label {
    color: #F5222D;
}

@keyframes rollout {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .error-message {
    animation: .4s rollout;
  }

.error input, .error select, .error textarea {
    background-color: #fce4e4;
    border: 1px solid #F5222D;
    outline: none;
}

@media ( max-width: 7680px ) {
    .form-control-wrapper {
        padding: 4% 0;     
    }    
}

@media ( min-width: 768px ) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-control-wrapper {
        padding: 2% 0;     
    }    
}


