@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Red Hat Display',Helvetica,Arial,Lucida,sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px 0;
  background-color: #faf1f1;
}

.primary {
  color: #69B28F;
}

.primary-bg {
  background-color: #69B28F;
}

.secondary {
  color: #6174AD;
}

.secondary-bg {
  background-color: #6174AD;
}

