@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "colors";

.App {
  font-family: 'Red Hat Display',Helvetica,Arial,Lucida,sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 2% 6%;
  background-color: #fbf8f8;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.primary {
  color: $primary;
}

.primary-bg {
  background-color: $primary;
}

.secondary {
  color: $secondary;
}

.secondary-bg {
  background-color: $secondary;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}